<%= render 'pages/home' unless user_signed_in? %>
<div id="tacks" class="transitions-enabled">
    <% @tacks.each do |tack| %>
        <div class="box panel panel-default">
          <%= link_to image_tag(tack.image.url(:medium)), tack %>
          <div class="panel-body">
            <%= tack.description %>
            <%= tack.user.email if tack.user %>
            <%= link_to 'Show', tack_path(tack) %>
            <% if tack.user == current_user %>
              <%= link_to edit_tack_path(tack) do %>
                <span class="glyphicon glyphicon-edit"></span> Edit <% end %>
              <%= link_to tack, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-trash"></span><% end %>
          <% end %>
      </div>
      </div>
    <% end %>
</div>