<div id="tacks" class="transitions-enabled">
    <% @tacks.each do |tack| %>
        <div class="box panel panel-default">
          <%= link_to image_tag(tack.image.url(:medium)), tack %>
          <div class="panel-body">
            <%= tack.description %>
            <%= tack.user.email if tack.user %>
            <%= link_to 'Show', tack_path(tack) %>
            <% if tack.user == current_user %>
              <%= link_to 'Edit', edit_tack_path(tack) %>
              <%= link_to 'Destroy', tack, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </div>
      </div>
    <% end %>
</div>