<h1>Listing Tacks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Images</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tacks.each do |tack| %>
      <tr>
        <td><%= image_tag tack.image.url(:medium) %></td>
        <td><%= tack.description %></td>
        <td><%= tack.user.email if tack.user %></td>
        <td><%= link_to 'Show', tack %></td>
        <% if tack.user == current_user %>
          <td><%= link_to 'Edit', edit_tack_path(tack) %></td>
          <td><%= link_to 'Destroy', tack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Tack', new_tack_path %>
<% end %>