<%= link_to "Back", tacks_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
  				<%= image_tag @tack.image.url %>
  			</div>
  			<div class="panel-body">
  			<p><%= @tack.description %></p>
			<p><strong><%= @tack.user.email if @tack.user %></strong></p>

			<% if @tack.user == current_user %>
				<%= link_to edit_tack_path(@tack) do %>
					<span class="glyphicon glyphicon-edit"> </span> Edit
				<% end %>
			<% end %>
		</div>
	</div>
</div>
